body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;}

.title {
    font-size: 1500px;
}

.hero-image{
    background-image: linear-gradient(
    rgba(0,0,0,0.5), 
    rgba(0,0,0, 0.5)), 
    url("/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image .hero-text{
    color: #fff;
    text-align: center;
}

.hero-image .hero-text h1{
    font-size: 130px;
    font-weight: 500;
}

.hero-image .hero-text p{
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
}

.hero-image .hero-btn{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.hero-image .hero-btn:hover{
    background: #fff;
    color: #000;
}

.hero-image .portrait {
    border-radius: 35%;
    position: relative;
    top: -40px;
}

.navbar {
    width: 100%;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: rgb(147, 147, 147);
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }
  